@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Staatliches&display=swap");

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Roboto", sans-serif;
}

h1 {
    font-family: "Staatliches", cursive;
    text-align: center;
}

.game {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

button {
    border: none;
    padding: 1.2rem;
    border-radius: 4rem;
    font-size: 2rem;
    outline: none;
    background-color: rgb(194, 190, 190);
    /* background: linear-gradient(15deg, rgb(207, 72, 207), rgb(60, 112, 195)); */
    /* animation: hue-rotation 5s infinite; */
    /* transition: 1s; */
}

@keyframes hue-rotation {
    0% {
        filter: hue-rotate(0deg);
    }
    25% {
        filter: hue-rotate(90sdeg);
    }
    50% {
        filter: hue-rotate(180deg);
    }
    75% {
        filter: hue-rotate(270deg);
    }
    100% {
        filter: hue-rotate(360deg);
    }
}

/* button:hover {
    filter: hue-rotate(360deg);
} */

.grid {
    width: 600px;
    height: 600px;
    display: flex;
    flex-wrap: wrap;
    border-style: solid;
    margin: 2rem;
    outline: 1px solid #333;
}

.grid div {
    width: 60px;
    height: 60px;
}

@media (max-width: 640px) {
    .grid {
        width: 80vw;
        height: 80vw;
    }

    .grid div {
        width: 8vw;
        height: 8vw;
    }
}

.snake {
    background-color: rgb(44, 133, 44);
}

.snake-head {
    background-color: rgb(38, 107, 38);
}

.snake-head::before {
    content: "";
    display: block;
    background: rgb(0, 0, 0);
    width: 10px;
    height: 10px;
    transform: translate(300%, 150%) rotateZ(90deg);
}

/* Snake's tongue */
.snake-head::after {
    content: "";
    display: block;
    background: red;
    width: 10px;
    height: 30px;
    transform: translate(600%, 50%) rotateZ(90deg);
}

.right {
    transform: rotate(0deg);
}

.left {
    transform: rotate(0deg) scaleX(-1);
}

.up {
    transform: rotate(270deg);
}

.down {
    transform: rotate(90deg);
}

.apple {
    background-color: rgb(216, 39, 39);
    border-radius: 20%;
}

.apple::before {
    content: "";
    display: block;
    width: 0;
    height: 0;
    border-top: 20px solid rgb(50, 130, 52);
    border-right: 20px solid transparent;
    transform: translate(44px, -16px) rotateZ(5deg);
}

.apple::after {
    content: "";
    display: block;
    width: 0;
    height: 0;
    border-top: 30px solid rgb(50, 130, 52);
    border-left: 30px solid transparent;
    transform: translate(12px, -43px);
}

.game-over-screen {
    height: 100vh;
    width: 100vw;
    background: rgba(255, 0, 0, 0.5);
    display: none;
    z-index: 99;
    position: absolute;
    font-size: 6rem;
    color: white;
    font-family: "Staatliches", Helvetica, Impact, "Arial Narrow";
}

.new-game-screen {
    height: 100vh;
    width: 100vw;
    background: rgba(23, 175, 48, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    z-index: 99;
    position: absolute;
    font-size: 6rem;
    color: white;
    font-family: "Staatliches", Helvetica, Impact, "Arial Narrow";
}

.visible {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.hidden {
    display: none;
    align-items: center;
    justify-content: center;
}

.blur {
    filter: blur(0.3rem);
}

h1 > strong {
    color: #333;
}

.score {
    font-size: 2rem;
    font-family: "Staatliches", Helvetica, Impact, "Arial Narrow";
}